/*mobile screen */
@media only screen and (min-width:320px) {
    body {
        margin: 0px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    header {
        background-color: white;
        padding: 0px;
        margin: 6px;
    }

    .mobile-container {
        margin: auto;
        color: white;
        border-radius: 10px;
    }

    .topnav {
        overflow: hidden;
        position: relative;
    }

    .topnav #myLinks {
        display: none;
    }

    .topnav a {
        color: black;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        display: block;
    }

    .topnav a.icon {
        background: black;
        color: white;
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        margin: 0px 35px 0px 0px;
    }

    .topnav a:hover {
        background-color: #ddd;
    }

    .active {
        color: black;
    }

    .gs {
        background-color: black;
        color: white;
        padding: 8px 10px;
        margin: 10px 50px 10px 50px;
        border-radius: 7px;
        font-size: 14px;

    }

    .lm {
        padding: 8px 10px;
        margin: 10px 50px 10px 50px;
        border-radius: 7px;
        font-size: 14px;
    }

    h1 {
        margin: 20px;
        font-family: 'Times New Roman', Times, serif;
        text-align: center;
    }

    h2 {
        padding: 10px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        text-align: center;
    }

    h3 {
        margin: 10px;
        text-align: left;
    }

    p {
        padding: 10px;
        font-family: ;
    }

    .card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        max-width: 300px;
        margin: auto;
        text-align: center;
        font-family: arial;
        margin: 20px 50px 20px 50px;
    }

    .card button {
        border: none;
        outline: 0;
        padding: 12px;
        color: white;
        background-color: #000;
        text-align: center;
        cursor: pointer;
        width: 100%;
        font-size: 18px;
    }

    .card button:hover {
        opacity: 0.7;
    }

    .img {
        width: 100%;
    }

    #section {
        background-color: #f3f3f7;
    }

    #ud{
        background-color: #f3f3f7;
        padding: 8px;
    }

    .sph {
        padding: 17px;
    }

    .uiux{
        background-color:#e0e0ec ;
    }

    #wds {
        background-color: #39393c;
    }

    .wds-context {
        background-color: #f3f3f7;
        margin: 50px 0px 50px;
    }

    #svg {
        color: white;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url(./images/images/video.png)
    }

    #scontact {
        background-image: url(./images/images/contact.png);
    }
}