/*mobile screen */
@media only screen and (min-width:320px) {
    body {
        margin: 0px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    header {
        background-color: white;
        padding: 0px;
        margin: 6px;
    }

    .mobile-container {
        margin: auto;
        color: white;
        border-radius: 10px;
    }

    .topnav {
        overflow: hidden;
        position: relative;
    }

    .topnav #myLinks {
        display: none;
    }

    .topnav a {
        color: black;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        display: block;
    }

    .topnav a.icon {
        background: black;
        color: white;
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        margin: 0px 35px 0px 0px;
    }

    .topnav a:hover {
        background-color: #ddd;
    }

    .active {
        color: black;
    }

    #btns {
        display: flex;
        justify-content: space-evenly;
        align-items: center;

    }

    .gs {
        background-color: black;
        color: white;
        padding: 10px 24px;
        border-radius: 7px;
        font-size: 12px;
        margin: 19px 0px 16px 0px;
    }

    .lm {
        margin: 19px 0px 16px 0px;
        padding: 10px 24px;
        border-radius: 7px;
        font-size: 12px;
    }

    h1 {
        margin: 20px;
        font-family: 'Times New Roman', Times, serif;
        text-align: center;
    }

    h2 {
        padding: 10px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        text-align: center;
    }

    h3 {
        margin: 10px;
        text-align: center;
    }

    .card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        max-width: 300px;
        margin: auto;
        text-align: center;
        font-family: arial;
        margin: 20px 50px 20px 50px;
    }

    .card button {
        display: inline-block;
        border: none;
        outline: 0;
        padding: 12px;
        color: white;
        background-color: #000;
        text-align: center;
        cursor: pointer;
        width: 100%;
        font-size: 18px;
    }

    .card button:hover {
        opacity: 0.7;
    }

    .img {
        width: 100%;
    }

    ol {
        list-style: none;
    }

    li {
        margin-bottom: 1.5rem;
    }

    svg {
        color: #1E40AF;
        height: 0.625rem;
    }

    .vidph3 {
        font-weight: 600;
        text-align: left;
    }

    .vidp {
        font-weight: 400;

    }

    .line {
        display: none;
        width: 100%;
        height: 0.125rem;
        background-color: #E5E7EB;
    }

    #v {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 9999px;
        box-shadow: var(--tw-ring-inset) 0 0 0 calc(0px + var(--tw-ring-offset-width)) var(--tw-ring-color);
        --ring-color: #ffffff;
        width: 1.37rem;
        height: 1.5rem;
        background-color: white;
    }

    #section {
        background-color: #f3f3f7;
    }

    #Help {
        display: flex;
        flex-direction: column;
        margin: auto;
    }

    .svgi {
        width: 30px;
    }

    #grid {
        display: flex;
        justify-content: flex-start;
        margin: 11px;
    }

    .icon{   
        margin: 0px 20px; 
    }

    #ud {
        background-color: #f3f3f7;
        padding: 8px;
    }

    .sph {
        padding: 5px;
    }

    .uiux {
        background-color: #e0e0ec;
    }

    .cus {
        border-radius: 4px;
        padding: 10px;
    }

    input[type=text],
    select,
    textarea {
        width: 97%;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        margin-top: 6px;
        margin-bottom: 16px;
        resize: vertical
    }

    input[type=submit] {
        background-color: #04AA6D;
        color: white;
        padding: 12px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

    .sac {
        color: #000;
        padding: 10px 24px;
        background-color: #8e8ea4;
        border: none;
        border-radius: 4px;
        font-size: 14px;
        font-style: normal;
        margin: 0px 50px 0px 50px;

    }

    input[type=submit]:hover {
        background-color: #45a049;
    }

    #wds {
        background-color: #39393c;
    }

    .wds-context {
        background-color: #f3f3f7;
        margin: 50px 0px 50px;
    }

    #svg {
        padding: 5px;
        color: white;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url(./images/images/video.png)
    }

    #scontact {
        color: white;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url(./images/images/contact.png);
    }

    /*Tablet screen */
@media only screen and (min-width:760px) {

}
}