/*mobile screen */
@media only screen and (min-width:320px) {
    body {
        margin: 0px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    header {
        background-color: white;
    }

    .mobile-container {
        color: white;
    }

    .topnav {
        background-color: black;
        overflow: hidden;
        position: relative;
    }

    .topnav #myLinks {
        display: none;
    }

    .topnav a {
        color: white;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        display: block;
    }

    .topnav a.icon {
        background: white;
        color: black;
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        margin: 12px 35px 0px 0px;
    }

    .topnav a:hover {
        background-color: #ddd;
        color: black;
    }

    .active {
        color: white;

    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin-top: 0;
        margin-bottom: 0.5rem;
        padding: 0.5rem;
    }

    p {
        margin-top: 0;
        margin-bottom: 1rem;
    }

    #btns {
        display: flex;
        justify-content: space-evenly;
        align-items: center;

    }

    .gs {
        background-color: black;
        color: white;
        padding: 10px 24px;
        border-radius: 7px;
        font-size: 12px;
        margin: 19px 10px 16px 10px;
    }

    .lm {
        margin: 19px 10px 16px 10px;
        padding: 10px 24px;
        border-radius: 7px;
        font-size: 12px;
    }

    h1 {
        font-family: 'Times New Roman', Times, serif;
        text-align: center;
    }

    h2 {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        text-align: center;
    }

    h3 {
        text-align: center;
    }

    .card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        max-width: 440px;
        margin: auto;
        text-align: center;
        font-family: arial;
    }

    .card button {
        display: inline-block;
        border: none;
        outline: 0;
        padding: 12px;
        color: white;
        background-color: #000;
        text-align: center;
        cursor: pointer;
        width: 100%;
        font-size: 18px;
    }

    .card button:hover {
        opacity: 0.7;
    }

    .img {
        width: 100%;
    }

    ol {
        list-style: none;
    }

    li {
        margin-bottom: 1.5rem;
    }

    svg {
        color: #1E40AF;
        height: 0.625rem;
    }

    #OP {
        background-color: #f3f3f7;
    }

    .ops {
        padding: 10px;
    }

    .vidph3 {
        text-align: left;
    }


    .line {
        display: none;
        width: 100%;
        height: 0.125rem;
        background-color: #E5E7EB;
    }

    #v {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 9999px;
        box-shadow: var(--tw-ring-inset) 0 0 0 calc(0px + var(--tw-ring-offset-width)) var(--tw-ring-color);
        --ring-color: #ffffff;
        width: 1.37rem;
        height: 1.5rem;
        background-color: white;
    }

    #section {
        background-color: #f3f3f7;
        text-align: center;
    }

    #Help {
        display: flex;
        flex-direction: column;
        margin: auto;
    }

    .svgi {
        width: 30px;
        display: inline-block;
        position: absolute;
    }

    #grid {
        display: grid;
        justify-content: center;
        grid-template-columns: 1fr;
        padding: 20px;
        margin: 11px 0px 10px 3px;
    }

    .descriptions {
        padding: 11px 0px 20px 0px;
    }

    #ud {
        background-color: #f3f3f7;
        padding: 8px;
    }

    #ud p {
        font-family: 'Times New Roman', Times, serif;
        font-size: larger;
        padding: 0px 0px 10px 20px;
        display: flex;
        flex-wrap: wrap;
    }

    .sph {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 20px;
        padding: 1.5rem;
        margin: auto;
    }


    .cus {
        border-radius: 4px;
        padding: 10px;
    }

    input[type=text],
    select,
    textarea {
        width: 97%;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        margin-top: 6px;
        margin-bottom: 16px;
        resize: vertical
    }

    input[type=submit] {
        background-color: #04AA6D;
        color: white;
        padding: 12px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

    .sac {
        color: #000;
        padding: 10px 24px;
        background-color: #8e8ea4;
        border: none;
        border-radius: 4px;
        font-size: 14px;
        font-style: normal;
        margin: 0px 50px 0px 50px;

    }

    input[type=submit]:hover {
        background-color: #45a049;
    }

    #wds {
        background-color: #39393c;
    }

    .wds-context {
        background-color: white;
        margin: auto;
        padding: 18px;
    }

    #svg {
        text-align: center;
        padding: 5px;
        color: white;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url(./images/images/video.png)
    }

    #scontact {
        color: white;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url(./images/images/contact.png);
        text-align: center;
    }
}

/*Tablet screen */
@media only screen and (min-width:768px) {

    .topnav {
        display: flex;
        justify-content: space-between;
    }

    .topnav #myLinks {
        display: flex;

    }

    .topnav a.icon {
        display: none;
    }

    .sph {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        padding-bottom: 2.5rem;
        margin: auto;
        grid-gap: 1.5rem;
    }

    .card {
        max-width: 300px;
        margin: auto;
    }

    .gs {
        margin: 19px 20px 16px 20px;
    }

    .lm {
        margin: 19px 20px 16px 20px;
    }


    .wds-context p {
        text-align: center;
        font-family: 'Times New Roman', Times, serif;
        font-size: large;
        padding: 10px;
    }

    .wds-context h3 {
        text-align: left;
        padding: 15px;
    }

    #grid {
        display: grid;
        justify-content: center;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
    }

    #ud h3 {
        text-align: left;
        padding: 15px 0px 0px 20px;
        text-decoration: underline;
    }

    #ud p {
        padding: 0px 0px 20px 30px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        font-family: 'Times New Roman', Times, serif;
        font-size: large;
    }

    #OP h3 {
        text-align: left;
        padding: 10px 0px 0px 30px;
    }


    #OP p {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        font-family: 'Times New Roman', Times, serif;
        font-size: large;
        padding: 0px 0px 20px 30px;
    }
}

/*Desktop screen */
@media only screen and (min-width:1024px) {
    .sctxt {
        display: flex;
    }

    .sctxt1 h1 {
        font-size: 50px;
    }

    .sctxt1 {
        width: 50%;
        padding: 60px;
    }

    .sctxt2 {
        width: 50%;
    }

    #grid {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .sph {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        margin: auto;
        column-gap: 1.5rem;
    }
}